
<div class="wrapper">
  <header>
  	<h1>Real-Time Geolocation Service with Node.js</h1>
  	<div class="description">Using the HTML5 Geolocation API and Web Sockets to show the locations of visitors in real-time.</div>
  </header>

  <div class="app">
  	<div id="infobox" class="infobox"></div>
  	<div id="map">To get this app to work you need to share your geolocation.</div>
  </div>
</div
