<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>Pals</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    	
    	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css">
    	<link rel="stylesheet" href="./css/own.css">
		<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="fonts/style.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/main-responsive.css">
		<link rel="stylesheet" href="plugins/iCheck/skins/all.css">
		<link rel="stylesheet" href="plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css">
		<link rel="stylesheet" href="plugins/perfect-scrollbar/src/perfect-scrollbar.css">
		<link rel="stylesheet" href="css/theme_light.css" type="text/css" id="skin_color">
		<link rel="stylesheet" href="css/print.css" type="text/css" media="print"/>
		<link rel="shortcut icon" href="favicon.ico" />
	</head>

	<body>

    <%- body %>

    <script src="plugins/jQuery-lib/2.0.3/jquery.min.js"></script>
    <script src="js/lib/leaflet.js"></script>
    <script src="js/socket.io.js"></script>
    <script src="js/jquery.mobile.custom.min.js"></script>
    <script src="js/application.js"></script>
    <script src="js/bootbox.min.js"></script>
	<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="plugins/iCheck/jquery.icheck.min.js"></script>
	<script src="plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
	<script src="plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
	<script src="plugins/jQuery-cookie/jquery.cookie.js"></script>
	<script src="js/main.js"></script>
  
  <script>
			jQuery(document).ready(function() {
				Main.init();
			});
		</script>

  </body>
</html>