
    <!-- START PAGE-CONTAINER -->
    <div class="login-wrapper ">
      <!-- START Login Background Pic Wrapper-->
      <div class="bg-pic">
        <!-- START Background Pic-->
        <img src="assets/bg.jpg" data-src="assets/bg.jpg" data-src-retina="assets/bg.jpg" alt="" class="lazy">
        <!-- END Background Pic-->
        <!-- START Background Caption-->
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
          <h2 class="semi-bold text-white">
          Pals - Everyone needs others</h2>
          <p class="small">
             this image copyright under PALS.
          </p>
        </div>
        <!-- END Background Caption-->
      </div>
      <!-- END Login Background Pic Wrapper-->
      <!-- START Login Right Container-->
      <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
          <img src="assets/logo.png" alt="logo" data-src="assets/logo.png" data-src-retina="assets/logo.png" width="78">
          <p class="p-t-35">Sign into your pals account</p>
          <!-- START Login Form -->
          <form id="form-login" class="p-t-15" role="form" action="/login" method="POST">
            <!-- START Form Control-->
            <div class="form-group form-group-default">
              <label>Login</label>
              <div class="controls">
                <input type="text" name="username" placeholder="User Name" class="form-control" required>
              </div>
            </div>
            <!-- END Form Control-->
            <!-- START Form Control-->
            <div class="form-group form-group-default">
              <label>Password</label>
              <div class="controls">
                <input type="password" class="form-control" name="password" placeholder="Credentials" required>
              </div>
            </div>
            <!-- START Form Control-->
            <div class="row">
              <div class="col-md-6 no-padding">
                <div class="checkbox ">
                  <input type="checkbox" value="1" id="checkbox1">
                  <label for="checkbox1">Keep Signed in</label>
                </div>
              </div>
            </div>
            <!-- END Form Control-->
            <button class="btn btn-complete btn-cons m-t-10" type="submit">Sign in</button>
            </br><br>New to pals? Sign up</br>
            <a href="/register"><button class="btn btn-warning btn-cons m-t-10">Sign up</button></a>
          </form>

          <!--END Login Form-->
          <div class="pull-bottom sm-pull-bottom">
            <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
              <div class="col-sm-3 col-md-2 no-padding">
                <!-- <img alt="" class="m-t-5" data-src="assets/img/demo/pages_icon.png" data-src-retina="assets/img/demo/pages_icon_2x.png" height="60" src="assets/img/demo/pages_icon.png" width="60"> -->
              </div>

              <div class="col-sm-9 no-padding m-t-10">
                <center><p><small>By using Pals, you agree to Pals's <a href="/tos" class="text-info"> Term of Use</a> and <a href="/priv" class="text-info"> Privacy Policy</a></small>
                </p></center>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    