<!-- <div class="map" id="map" style="height:600px;width:screen.width"></div> -->

<div id="map"></div>
<div class="zindex">
	<nav>
        <ul class="nav nav-pills pull-right">
        	<a href="#"><img src="./assets/menu.png" alt="menu" height="42" width="42"></a>
        	<!-- <a href="#"><i class="fa fa-info-circle fa-3x text-danger" id="info"></i></a> -->
	        <!-- <li role="presentation" class="active"><a href="#">Home</a></li> -->
    	    <!-- <li role="presentation"><a href="#">About</></li> -->
        </ul>
        <ul class="bottomnav">
        	<a id="track"><img src="./assets/find1.png" alt="menu" height="42"></a>
        </ul>
    </nav>
</div>