<div id="map"></div>
<div class="zindex">
	<nav>
        <div class="right-nav">
        	<a href="#"><img src="./assets/menu.png" alt="menu" height="42" width="42"></a>
        </div>
        <div class="icon-pal">
            <a href="#"><img src="./assets/pals.png" height="42"></a>
        </div>
        <div class="bottom-nav">
        	<a id="track"><img id="track-img" src="./assets/find1.png" alt="menu" height="42"></a>
        </div>
    </nav>
</div>
