<!-- <div class="map" id="map" style="height:600px;width:screen.width"></div> -->

<div id="map"></div>
<div class="zindex">
	<nav>
        <div class="right-nav">
        	<a href="#"><img src="./assets/menu.png" alt="menu" height="42" width="42"></a>
            <!-- <ul >
                <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
                <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
                <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="i"></i> Make admin</a></li>
            </ul> -->
        	<!-- <a href="#"><i class="fa fa-info-circle fa-3x text-danger" id="info"></i></a> -->
	        <!-- <li role="presentation" class="active"><a href="#">Home</a></li> -->
    	    <!-- <li role="presentation"><a href="#">About</></li> -->
        </div>
        <div class="icon-pal">
            <a href="#"><img src="./assets/pals.png" height="42"></a>
        </div>
        <div class="bottom-nav">
        	<a id="track"><img id="track-img" src="./assets/find1.png" alt="menu" height="42"></a>
        </div>
    </nav>
</div>
