<!-- <div class="map" id="map" style="height:600px;width:screen.width"></div> -->

<div id="map"></div>
<div class="zindex">
	<nav>
        <ul class="nav nav-pills pull-right">
        	<a href="#"><i class="fa fa-home fa-3x active" id="tool"></i></a>
        	<a href="#"><i class="fa fa-info-circle fa-3x" id="tool"></i></a>
	        <!-- <li role="presentation" class="active"><a href="#">Home</a></li> -->
    	    <!-- <li role="presentation"><a href="#">About</></li> -->
        </ul>
        <ul class="bottomnav">
        	<a id="track"><i class="fa fa-street-view fa-3x" id="tool"></i></a>
        </ul>
    </nav>
</div>