html, body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

header {
	width: 100%;
	text-align: center;
	line-height: 32px;
}

h1 {
	font-size: 30px;
	font-weight: 400;
}

.zindex {
    z-index: +1;
    position: absolute;
    width: 100%;
    top: 5%;
    right: 1%;
}

#tool{
	padding: 3px;
}

#map{
	/*position: relative;*/
	padding: 0px;
	margin: 0px;
	height: 100%;
}

.right-nav{
	position: fixed;
	right: 0;
	top: 0;
	padding-right: 1%;
	padding-top: 1%;
}

.bottom-left-nav{
	position: fixed;
	left: 0;
	bottom: 0;
	padding-left: 1%;
	padding-bottom: 2%;
}

.bottom-right-nav{
	position: fixed;
	right: 0;
	bottom: 0;
	padding-right: 1%;
	padding-bottom: 2%;
}

.icon-pal{
	position: fixed;
	left: 0;
	top: 0;
	padding-left: 1%;
	padding-top: 1%;
}

.leaflet-popup-content {
	font: 12px 'Lato', Arial, sans-serif !important;
}

.leaflet-control-attribution.leaflet-control {
	display: none;
}


.image-green {
    height: 52px !important;
    width: 52px !important;
    border-radius: 50%;
    border: solid;
    border-color: green;
}
.image-yellow {
    height: 52px !important;
    width: 52px !important;
    border-radius: 50%;
    border: solid;
    border-color: yellow;
}
.image-user {
    height: 52px !important;
    width: 52px !important;
    border-radius: 50%;
    border: solid;
    border-color: #666633;
}
.image-userTrack {
    height: 52px !important;
    width: 52px !important;
    border-radius: 50%;
    border: solid;
    border-color: #A9A98C;
}
.image-other {
    height: 52px !important;
    width: 52px !important;
    border-radius: 50%;
    border: solid;
    border-color: yellow;
}
.image-otherHelp {
    height: 52px !important;
    width: 52px !important;
    border-radius: 50%;
    border: solid;
    border-color: red;
}